[Unit]
Description=BBS Inbound File Watch
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=bbs
WorkingDirectory=/opt/talisman
ExecStart=/opt/talisman/bin/file_watch.sh

[Install]
WantedBy=multi-user.target

