[Unit]
Description=Talisman BBS service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=bbs
WorkingDirectory=/opt/talisman
ExecStart=/opt/talisman/servo

[Install]
WantedBy=multi-user.target

