[Unit]
Description=BinkD FTN Server
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/binkd -DC /opt/talisman/bink/binkd.conf
;PIDFile=/opt/talisman/ftn/binkd.pid
ExecReload=/bin/kill -HUP ${MAINPID}
ExecStop=/bin/kill ${MAINPID}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=default.target

